* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 20px;
}

.url {
    text-decoration: none;
    color: #000000;
    font-size: 20px;

    padding: 20px;
}

.main {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.header {
    padding: 10px 0;
}

.main-form {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 90%;
}

.form {
    padding: 40px;
    margin: 40px;

    border-radius: 20px;
    border: 4px solid #eeeeee;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transition: all linear .2s;
}

.form_status_success {
    border-color: #cfc;
    background:#efe;
}

.form_status_error {
    border-color: #fcc;
    background:#fee;
}

.form__title {
    margin-bottom: 20px;
    font-size: 40px;
}

.input {
    padding: 20px;

    font-size: 20px;

    outline: none;

    background-color: #f9f9f9 !important;

    border-radius: 10px;
    border: 4px solid #eeeeee;
}

.button, .select {
    cursor: pointer;

    padding: 20px;

    font-size: 20px;
    font-weight: bold;

    border-radius: 10px;
    border: 4px solid #eeeeee;
    outline: none;
    background: #f9f9f9;

    transition: all .2s linear;
}

.button:hover, .select:hover {
    background: #ffffff;
}


.button_current {
    border-color: #33c;
    background: #33f;
    color: #ffffff;
}

.button_current:hover {
    background: #33c;
}


.select {
    width: 100%;
}

.button_full-width {
    width: 100%;
    text-align: center;
}

.form__field {
    margin: 10px 0;
}

.form__field.button {
    margin-top: 20px;
}

.stop {
    display: inline-block;
    border-color: #911;
    background: #e64e4e;
    color: #ffffff;
}

.stop:hover {
    background: #933;
}

.notice-box {
    position: fixed;
    bottom: 15px;
    right: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notice-box__message {
    cursor: pointer;

    padding: 20px;

    font-size: 20px;
    font-weight: bold;

    border-radius: 10px;
    border: 4px solid #eeeeee;
    outline: none;
    background: #f9f9f9;

    transition: all .2s linear;

    transition: all .2s linear;

    margin: 10px 0;

    display: inline-block;
    color: #000000;
}

.notice-box__message_status_success {
    border-color: #cfc;
    background:#efe;
}

.notice-box__message_status_error {
    border-color: #fcc;
    background:#fee;
}

.notice-box__message_hidden {
    transform: translateX(1000px);
}
