extends blocks/index

include blocks/form

block content
    +form('Авторизация')
        +formInputField('login')(placeholder='Логин')
        +formInputField('password')(type='password', placeholder='Пароль')
        +formButtonField('auth-button', 'Войти')

block scripts
    script(src='/static/auth.js')
